{% extends 'bootstrap/base.html' %}
{% block title %}ep_flask{% endblock %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script>
  let outputFinal = ''
  let ep_address_id = ''

  $(document).ready(function () {
    console.log("Script loaded")
    // If key exists in session, show masked key
    recallKey((keyMasked) => {
      console.log(keyMasked)
      if (keyMasked.trim().length > 0) {
        $('#apiKey').val(keyMasked)
        $('#apiKey').prop("disabled", true)
        $('#save-key').hide()
        $('#clear-key').show()
      }
    })
  });

  $('#address-2').find("#submit").click(function (e) {
    e.preventDefault()
    // Clear any previous state
    $('#avs-error').hide()
    $('#avs-error-msg').remove()
    $('.radio').find("input:radio").prop('checked', false)
    $('#select-address').prop('disabled', true)
    outputFinal = ''
    // Call ajax 
    avs('#avsModalInput', '#avsModalOutput')
  })

  function avs(dest1, dest2) {
    $(dest1).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
    $(dest2).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
    $.post('/avs', {
      name: $('#name').val(),
      street1: $('#street1').val(),
      street2: $('#street2').val(),
      city: $('#city').val(),
      state: $('#state').val(),
      zip: $('#zip').val(),
      country: $('#country').val(),
      verify: $('#verify').val()
    }).done((data) => {
      console.log(data)
      ep_address_id = data.res.id
      if (data.res.verifications) {
        // Verifications object returns either zip4 or delivery attributes
        const _v = data.res.verifications
        const v = _v.delivery ? _v.delivery : _v.zip4
        // Append residential tag when appropriate
        const residential = $(`<span id="residentialTag" style="background: grey; padding: 3px 7px; display: inline-block; border-radius: 7px; color: white; font-size: 11px; margin-bottom: 7px;">RESIDENTIAL</span>`)

        if (!v.success) {
          // If success == false then display mapped error messages onto the alert div
          const error_msg = v.errors.map(e => {
            return `<li>${e.message}</li>`
          })
          $('#avs-error').append(`<ul id='avs-error-msg'>${error_msg.join('')}</ul>`)
          $('#avs-error').show()
        }

        if (v.success) {
          $('#avsModal').modal('show')
          // Only suggest correction when there is a difference between in/output
          if (JSON.stringify(data.input).toLowerCase().trim() == JSON.stringify(data.output).toLowerCase().trim()) {
            outputFinal = formatAddress(data.output)
            return selectAddress(outputFinal)
          }
          $(dest1).html(formatAddress(data.input))
          $(dest2).html(formatAddress(data.output))
          if (JSON.stringify(data.res.residential).toLowerCase() === 'true') {
            $(residential).appendTo(dest2)
          }
        }
      }
      // Handle error messages
      else if (data.res.error) {
        const error_msg = data.res.error.errors.map(e => {
          return `<li>[${e.field.toUpperCase()}] ${e.message}</li>`
        })
        $('#avs-error')
          .append(`<ul id='avs-error-msg'><li>${data.res.error.message}</li>${error_msg.join('')}</ul>`)
        $('#avs-error').show()
      }

    }).fail((e) => {
      $('#avsModal').modal('hide')
      $('#avs-error').html(e)
    })
  }

  // Formats response from /avs endpoint
  function formatAddress(data) {
    return ($(`<p><span style="display: none;">${data.name}<br></span>${data.street1}<br>${data.street2 ? data.street2 + '<br>' : ''}${data.city}<br>${data.state} ${data.zip}<br>${data.country}</p>`))
  }

  // Make avs modal area clickable
  clickable('#avsModalOutput')
  clickable('#avsModalInput')

  function clickable(target) {
    $(target).parent().click(function (e) {
      let radio = $(this).find("input:radio")
      radio.prop('checked', true)
      $('#select-address').prop('disabled', false)
      outputFinal = $(this).find("p").clone()
    })
  }

  $('#select-address').click(function (e) {
    e.preventDefault();
    selectAddress(outputFinal)
  })

  function selectAddress(outputFinal) {
    // Show the name in the output
    outputFinal.find("span").show()
    // Display the output
    $('#result-output').html(outputFinal)
    $('#avsModal').modal('hide')
  }

  // Store API key in session
  $('#save-key').click(function (e) {
    e.preventDefault();
    saveKey()
  })

  function saveKey() {
    if ($('#apiKey').val().trim().length > 0) {
      $.post('/store_key', {
        key: $('#apiKey').val()
      }).done((data) => {
        $('#save-key').hide()
        $('#clear-key').show()
        $('#apiKey').prop("disabled", true)
      })
    }
  }

  $('#clear-key').click(function (e) {
    e.preventDefault();
    clearKey()
  })

  function clearKey() {
    $.post('/store_key', {
      key: ""
    }).done((data) => {
      $('#apiKey').val("")
      $('#apiKey').prop("disabled", false)
      $('#save-key').show()
      $('#clear-key').hide()
    })
  }

  function recallKey(cb) {
    $.get('/get_key')
    .done((key) => {
      keyMasked = key.length > 5 ? key.replace(/.(?=.{4,}$)/g, '*') : key
      cb(keyMasked)
    })
  }

  

</script>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">ep_flask</a>
    </div>
    <div class="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('index') }}">Index</a></li>
        <li><a href="{{ url_for('address_1') }}">AVS - Force Update</a></li>
        <li><a href="{{ url_for('address_2') }}">AVS - Modal</a></li>
        <li><a role="button" data-toggle="collapse" href="#apiKeyCollapse" aria-expanded="false" aria-controls="apiKeyCollapse">API Key <span class="caret"></span></a></li>
      </ul>
    </div>
    <div class="col-md-6 col-md-offset-6 collapse" id="apiKeyCollapse">
      <div class="well">
        <form>
          <div class="form-group">
            <label for="apiKey">API Key</label>
            <input type="password" class="form-control" id="apiKey" placeholder="Password">
          </div>
          <button id="save-key" type="submit" class="btn btn-default btn-xs pull-right clearfix" data-toggle="collapse" href="#apiKeyCollapse" >Save</button>
          <button id="clear-key" type="submit" class="btn btn-default btn-xs pull-right clearfix" style="display: none;">Clear</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  {% with messages = get_flashed_messages() %}{% if messages %}
  {% for message in messages %}
  <div class="alert alert-info" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}{% endwith %}

  {% block app_content %}{% endblock %}
</div>
{% endblock %}