{% extends "base.html" %}

{% block app_content %}
  <h1>index.html</h1>
  <div class="row">
    <div class="col-md-4">
      <pre>index.html</pre>
      <div class="list-group">
      {% if addresses %}
      {% for address in addresses %}
        <button type="button" href="#" class="list-group-item">
          {{ address.ep_adr_id }}<br>
          <small>{{ moment(address.timestamp).format('YYYY-MM-DD HH:mm:ss') }}</small>
          <a href="/address/{{ address.id }}/delete"><span class="glyphicon glyphicon-remove" id="address-{{ address.id }}" style="color: #555;" aria-hidden="true"></span></a>
        </button>
      {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}